{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="mb-4">Пароль успешно изменён!</h3>
                    <p>Ваш пароль был успешно сброшен. Теперь вы можете войти в аккаунт с новым паролем.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}