{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Редактирование профиля</h1>
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-bd-primary">Сохранить</button>
                <a href="{% url 'users:profile' %}" class="btn btn-outline-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
